In [1]:
import pandas as pd

# Creating the DataFrame
data = {
    "Name": ["Raj", "Gaurav", "Sravan", "Prashanth", "Karthik", "Raj"],
    "marks": [56, 89, 90, 45, 34, 56],
    "city": ["Pune", "Bangalore", "Mumbai", "Delhi", "Kolkata", "Pune"]
}

df = pd.DataFrame(data)

In [3]:
# Printing Original DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
        Name  marks       city
0        Raj     56       Pune
1     Gaurav     89  Bangalore
2     Sravan     90     Mumbai
3  Prashanth     45      Delhi
4    Karthik     34    Kolkata
5        Raj     56       Pune

In [5]:
# Keep the first occurrence and remove later duplicates
df_first = df.copy()  # Copying the original DataFrame
df_first.drop_duplicates(subset="Name", keep="first", inplace=True)
print("\nDataFrame after keep='first':")
print(df_first)

DataFrame after keep='first':
        Name  marks       city
0        Raj     56       Pune
1     Gaurav     89  Bangalore
2     Sravan     90     Mumbai
3  Prashanth     45      Delhi
4    Karthik     34    Kolkata

In [7]:
# Keep the last occurrence and remove earlier duplicates
df_last = df.copy()  # Copying the original DataFrame
df_last.drop_duplicates(subset="Name", keep="last", inplace=True)
print("\nDataFrame after keep='last':")
print(df_last)

DataFrame after keep='last':
        Name  marks       city
1     Gaurav     89  Bangalore
2     Sravan     90     Mumbai
3  Prashanth     45      Delhi
4    Karthik     34    Kolkata
5        Raj     56       Pune

In [9]:
# Remove all occurrences of duplicates
df_no_dupes = df.copy()  # Copying the original DataFrame
df_no_dupes.drop_duplicates(subset="Name", keep=False, inplace=True)
print("\nDataFrame after keep=False (removing all duplicates):")
print(df_no_dupes)

DataFrame after keep=False (removing all duplicates):
        Name  marks       city
1     Gaurav     89  Bangalore
2     Sravan     90     Mumbai
3  Prashanth     45      Delhi
4    Karthik     34    Kolkata