### Tuple Operations
#### create two tuples of integers by prompting the user to enter elements. Perform the following tuple
#### operation and display the result
#### a) Concatenate the two tuples.
#### b) Find the maximum and minmum values in each tuple.

In [26]:
A = int(input("enter the numbers: "))
B = int(input("enter the numbers: "))
C = int(input("enter the numbers: "))
D = int(input("enter the numbers: "))
E = int(input("enter the numbers: "))
F = int(input("enter the numbers: "))
tuple_1 = (A,B,C)
tuple_2 = (D,E,F)
print(tuple_1)
print(tuple_2)

enter the numbers:  1
enter the numbers:  2
enter the numbers:  3
enter the numbers:  4
enter the numbers:  5
enter the numbers:  6

(1, 2, 3)
(4, 5, 6)

In [28]:
type(tuple_1)

tuple

In [30]:
type(tuple_2)

tuple

In [46]:
tuple_1

(1, 2, 3)

In [48]:
tuple_2

(4, 5, 6)

In [32]:
# a)
tup = tuple_1 + tuple_2
print(tup)

(1, 2, 3, 4, 5, 6)

In [38]:
# b)
tuple_1max = max(tuple_1)
print("max value in tuple_1 ",tuple_1max)
tuple_1min = min(tuple_1)
print("min value in tuple_1 ",tuple_1min)

max value in tuple_1  3
min value in tuple_1  1

In [44]:
tuple_2max = max(tuple_2)
print("max value in tuple_2 ",tuple_2max)
tuple_2min = min(tuple_2)
print("min value in tuple_2 ",tuple_2min)

max value in tuple_2  6
min value in tuple_2  4

### Dictionary Management

#### Student Database

### Create a python program to manage a student database usig a dictionary. The program should provide
### the following functionalities:
#### a) add new student's name and corresponding roll number to the database.
#### b) Display the list of all students with their roll numbers.
#### c) Search for a student's roll number by providing their name.
#### d) Remove a student's information by their name.

In [155]:
Student_Database = {"Rahul" : "21ME001","Kiran":"21ME002","Aryan":"21ME003"}

In [157]:
print(Student_Database)

{'Rahul': '21ME001', 'Kiran': '21ME002', 'Aryan': '21ME003'}

In [171]:
# a)

Student_Database["Anand"] = "21ME004"
print(Student_Database)

{'Rahul': '21ME001', 'Kiran': '21ME002', 'Aryan': '21ME003', 'Anand': '21ME004'}

In [169]:
# b)

Student_Database.items()

dict_items([('Rahul', '21ME001'), ('Kiran', '21ME002'), ('Aryan', '21ME003'), ('Anand', '21ME004')])

In [163]:
# c)

Student_Database.get("Rahul")

'21ME001'

In [167]:
Student_Database.get("Kiran")

'21ME002'

In [173]:
# d)

Student_Database.pop("Kiran")

'21ME002'

In [175]:
Student_Database

{'Rahul': '21ME001', 'Aryan': '21ME003', 'Anand': '21ME004'}

### Contact Book

### Write a python program that simulates a contact book using a dictionary. The program should support
#### the following operation:
#### a) Add a new contact with name and phone number to dictionary.
#### b)Display the phone number of a contact by providing their name.
#### c) Remove a contact from the dictionary by name.
#### d Display all contacts in the contact book.

In [196]:
contact_Book = { 'Rahul': 9380000021,'Kiran':8945624323,"Aryan":8732785238}

In [198]:
# a)
contact_Book["Anand"] = 8632876843

In [200]:
contact_Book

{'Rahul': 9380000021,
 'Kiran': 8945624323,
 'Aryan': 8732785238,
 'Anand': 8632876843}

In [202]:
# b) 
contact_Book.get("Anand")

8632876843

In [204]:
# c)

contact_Book.pop("Aryan")

8732785238

In [206]:
contact_Book

{'Rahul': 9380000021, 'Kiran': 8945624323, 'Anand': 8632876843}

In [208]:
# d)

contact_Book.items()

dict_items([('Rahul', 9380000021), ('Kiran', 8945624323), ('Anand', 8632876843)])