# Task 1.
### Create a list containing the names of 5 countries. Print the list.
### a) add "France" at 2nd position
### b) add "China" at last
### c) remove country which is in 4th position
### d) take list of other countries(minimum 3) then add to the first list

In [89]:
list_countries = ["India","America","South Africa","Italy","Korea"]

In [91]:
# a)
list_countries.insert(1,"France" )

In [93]:
list_countries

['India', 'France', 'America', 'South Africa', 'Italy', 'Korea']

In [95]:
# b)
list_countries.append("China")

In [97]:
list_countries

['India', 'France', 'America', 'South Africa', 'Italy', 'Korea', 'China']

In [99]:
# c)
list_countries.pop(3)

'South Africa'

In [101]:
list_countries

['India', 'France', 'America', 'Italy', 'Korea', 'China']

In [103]:
# d)
list_other_countries = [ "nepal","canada","bhuthan"]

In [105]:
list_countries.extend(list_other_countries)

In [107]:
list_countries

['India',
 'France',
 'America',
 'Italy',
 'Korea',
 'China',
 'nepal',
 'canada',
 'bhuthan']

### Tasks 2:
#### 1. Create a list called `fruits` with the following elements: 'apple', 'banana', 'orange', 'grape', 'mango'. 
#### Print the list.

In [110]:
fruits = ['apple', 'banana', 'orange', 'grape', 'mango']

In [112]:
print(fruits)

['apple', 'banana', 'orange', 'grape', 'mango']

#### 2. ⁠Use the ⁠ append() ⁠ method to add 'kiwi' to the ⁠ fruits ⁠ list. Print the updated list

In [115]:
fruits.append('kiwi')

In [117]:
fruits

['apple', 'banana', 'orange', 'grape', 'mango', 'kiwi']

#### 3. Use the `extend()` method to add the elements ['pineapple', 'watermelon'] to the `fruits` list. Print 
#### the updated list

In [120]:
fruits.extend(['pineapple', 'watermelon'])

In [122]:
fruits

['apple',
 'banana',
 'orange',
 'grape',
 'mango',
 'kiwi',
 'pineapple',
 'watermelon']

#### 4. Use the `insert()` method to add 'pear' at the second position in the `fruits` list. Print the updated 
#### list.

In [125]:
fruits.insert(1,'pear' )

In [127]:
fruits

['apple',
 'pear',
 'banana',
 'orange',
 'grape',
 'mango',
 'kiwi',
 'pineapple',
 'watermelon']

#### 5. Use the `remove()` method to remove 'orange' from the `fruits` list. Print the updated list

In [130]:
fruits.remove( 'orange' )

In [132]:
fruits

['apple',
 'pear',
 'banana',
 'grape',
 'mango',
 'kiwi',
 'pineapple',
 'watermelon']

#### 6. Use the `pop()` method to remove and print the last element from the `fruits` list

In [135]:
fruits.pop()

'watermelon'

In [137]:
fruits

['apple', 'pear', 'banana', 'grape', 'mango', 'kiwi', 'pineapple']

#### 7. Use the `index()` method to find the index of 'grape' in the `fruits` list and print it.

In [140]:
fruits.index('grape')

3

#### 8.⁠ ⁠Use the ⁠ count() ⁠ method to count the number of occurrences of 'kiwi' in the ⁠ fruits ⁠ list and print

In [143]:
fruits.count("kiwi")

1

#### 9. Use the ⁠ sort() ⁠ method to sort the ⁠ fruits ⁠ list in alphabetical order. Print the sorted list.

In [146]:
fruits.sort()

In [148]:
fruits

['apple', 'banana', 'grape', 'kiwi', 'mango', 'pear', 'pineapple']

#### 10. Use the ⁠ reverse() ⁠ method to reverse the order of elements in the ⁠ fruits ⁠ list. Print the reversed 
#### list.

In [151]:
fruits.reverse()

In [153]:
fruits

['pineapple', 'pear', 'mango', 'kiwi', 'grape', 'banana', 'apple']

#### 11. Create a copy of the ⁠ fruits ⁠ list using the ⁠ copy() ⁠ method and name it ⁠ fruits_copy ⁠. Print both the 
#### original and copied lists to verify.

In [156]:
fruits_copy = fruits.copy()

In [158]:
fruits_copy

['pineapple', 'pear', 'mango', 'kiwi', 'grape', 'banana', 'apple']

#### 12. Use the ⁠ clear() ⁠ method to empty the ⁠ fruits_copy ⁠ list. Print the ⁠ fruits_copy ⁠ list after clearing.

In [165]:
fruits_copy.clear()

In [167]:
fruits_copy

[]