A `for` loop in Python is used to iterate over a sequence of elements, allowing you to execute a block of code repeatedly for each item in the sequence. It is a common construct used in programming to efficiently handle repetitive tasks or process collections of data. The sequence can be any iterable object, such as a list, tuple, string, or even a range.

The basic syntax of a `for` loop in Python is as follows:

```python
for item in sequence:
    # Code block to be executed for each item in the sequence
```

Here's how it works:

1. The loop variable (`item` in the above example) takes on the value of each item in the sequence, one by one, in the order they appear in the sequence.
2. The code block under the `for` loop is executed for each value of the loop variable. This block is indented and defines the actions you want to perform for each item in the sequence.

Let's see some examples of `for` loops:

1. Looping through a list:

```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

Output:
```
apple
banana
cherry
```

2. Looping through a string:

```python
message = "Hello, World!"
for char in message:
    print(char)
```

Output:
```
H
e
l
l
o
,
 
W
o
r
l
d
!
```

3. Looping through a range of numbers:

```python
for num in range(1, 5):
    print(num)
```

Output:
```
1
2
3
4
```

The `range()` function generates a sequence of numbers from the starting value (inclusive) to the ending value (exclusive).

### range(start,stop,step)

In [4]:
list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
list(range(20,0,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
tuple(range(0,31,3))

(0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30)

In [11]:
for i in range(1,10):
    print(i*2)

2
4
6
8
10
12
14
16
18

In [5]:
for i in range(1,10):
    print(i*2,end = " ")

2 4 6 8 10 12 14 16 18

In [12]:
for i in ["tomato","onion","potato","carrot","Brinjal"]: #string*int - repetition
    print(i*2)

tomototomoto
oniononion
potatopotato
carrotcarrot
BrinjalBrinjal

In [14]:
for i in "Hello": #cancatenation
    print(i+"***")

H***
e***
l***
l***
o***

In [17]:
names = ["gopi","rajesh","ramu","Krishna","rain"]
for name in names:
    if name.startswith('r'):
        print(name)
    else:
        print("Not starting with  r ")

Not starting with  r
rajesh
ramu
Not starting with  r
Not starting with  r
Not starting with  r
rain

In [18]:
names = ["gopi","rajesh","ramu","Krishna","bheem","arjuna","rain"]
for name in names:
    if name[0] == 'r':
        print(name)
    else:
        print("Not starting with  r ")

Not starting with  r
rajesh
ramu
Not starting with  r
Not starting with  r
Not starting with  r
rain

In [1]:
list1 = [1,2,3,4,5]
for i in list1:
    print(i)

1
2
3
4
5

In [7]:
list1 = [10,20,30,40,50]
j =0
for i in list1:
    j+=1
    print(f"Iteration {j} ",i)

Iteration 1  10
Iteration 2  20
Iteration 3  30
Iteration 4  40
Iteration 5  50

In [11]:
list1 = [10,20,30,40,50]
for i in list1:
    if i%4 == 0:
        print("Multiple of 4")
    else:
        print("Not mutiple")

Not mutiple
Multiple of 4
Not mutiple
Multiple of 4
Not mutiple

In [1]:
list1 = ["a","e","i","m","t","o","s"]

vowels = ["a","e","i","o","u"]

for char in list1:

    if char in vowels:

        print(f"{char} is vowel")

    else:

        print(f"{char} is consonant")

a is vowel
e is vowel
i is vowel
m is consonant
t is consonant
o is vowel
s is consonant

In [13]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [15]:
for num in range(1,11):
    if num%2 ==0:
        print("even")
    else:
        print("odd")

odd
even
odd
even
odd
even
odd
even
odd
even

In [17]:
for i in range(1,11):
    for j in range(1,11):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
4 10
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
5 10
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
6 10
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
7 10
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
8 10
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
9 10
10 1
10 2
10 3
10 4
10 5
10 6
10 7
10 8
10 9
10 10

In [3]:
for i in range(1,11):
    for j in range(2,9):
        print(i,j)

1 2
1 3
1 4
1 5
1 6
1 7
1 8
2 2
2 3
2 4
2 5
2 6
2 7
2 8
3 2
3 3
3 4
3 5
3 6
3 7
3 8
4 2
4 3
4 4
4 5
4 6
4 7
4 8
5 2
5 3
5 4
5 5
5 6
5 7
5 8
6 2
6 3
6 4
6 5
6 6
6 7
6 8
7 2
7 3
7 4
7 5
7 6
7 7
7 8
8 2
8 3
8 4
8 5
8 6
8 7
8 8
9 2
9 3
9 4
9 5
9 6
9 7
9 8
10 2
10 3
10 4
10 5
10 6
10 7
10 8

In [21]:
fruits = ["apple" ,"banana","grapes"]
veg = ["tomato","onion","carrot"]
for val in veg:
    for name in fruits:
        print(name)

apple
banana
grapes
apple
banana
grapes
apple
banana
grapes

In [23]:
fruits = ["apple" ,"banana","grapes"]
veg = ["tomato","onion","carrot"]
for val in veg:
    for name in fruits:
        print(name,val)

apple tomato
banana tomato
grapes tomato
apple onion
banana onion
grapes onion
apple carrot
banana carrot
grapes carrot

In [9]:
name = "siva academy"
if name.startswith("s"):
    print(" name is starting with s")
else:
    print(" name is not starting with s")

 name is starting with s

In [11]:
#ternary operator
print(" name is starting with s") if name.startswith("s") else print(" name is not starting with s")

 name is starting with s

In [1]:
name = "Siva academy"
for i in name:
    print(i)

S
i
v
a

a
c
a
d
e
m
y

In [7]:
list1 = [10,12,14,15,16]
list2 = []
for i in list1:
    list2.append(i+6)
print(list2)

[16, 18, 20, 21, 22]

In [11]:
[ i+6 for i in list1]

[16, 18, 20, 21, 22]

In [9]:
[ i+6 for i in list1]

[16, 18, 20, 21, 22]

In [43]:
fruits = ["apple" ,"banana","orange","grape"]
for i in fruits:
    if i.endswith("e"):
        print(i)

apple
orange
grape

In [13]:
fruits = ["apple" ,"banana","orange","grape"]
for i in fruits:
    if i.endswith("e"):
        print(i)
    else:
        pass

apple
orange
grape

In [5]:
[i for i in fruits if i.endswith("e")]

['apple', 'orange', 'grape']

In [55]:
squares = [x**2 for x in range(1, 6)]
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [57]:
nums = [1, 2, 3, 4, 5, 6]
evens = [x for x in nums if x % 2 == 0]
print(evens)  # Output: [2, 4, 6]

[2, 4, 6]

In [59]:
words = ["apple", "banana", "cherry"]
upper_words = [word.upper() for word in words]
print(upper_words)  # Output: ['APPLE', 'BANANA', 'CHERRY']

['APPLE', 'BANANA', 'CHERRY']

In [63]:
text = "hello world"
vowels = [ch for ch in text if ch in "aeiou"]
print(vowels)  # Output: ['e', 'o', 'o']

['e', 'o', 'o']

In [61]:
fruits = ["apple", "kiwi", "banana", "fig"]
long_fruits = [fruit for fruit in fruits if len(fruit) > 3]
print(long_fruits)  # Output: ['apple', 'banana']

['apple', 'kiwi', 'banana']

In [65]:
div_3_5 = [x for x in range(1, 31) if x % 3 == 0 and x % 5 == 0]
print(div_3_5)  # Output: [15, 30]

[15, 30]

In [67]:
sentences = ["hello world", "python is fun"]
modified = [sentence.replace(" ", "_") for sentence in sentences]
print(modified)  # Output: ['hello_world', 'python_is_fun']

['hello_world', 'python_is_fun']

In [69]:
text = "abc123xyz45"
digits = [ch for ch in text if ch.isdigit()]
print(digits)  # Output: ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

In [71]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]