# FUNCTIONS

## Built in function

#### The function which are coming along with python automatically are called built in function

In [ ]:
id()

In [ ]:
len()

In [ ]:
type()

In [ ]:
input()

In [ ]:
print() etc

## User-Defined function

#### The function which are developed by programmer or user explicity according to requirements are called user defined function

In [4]:
a = float(input("enter the number: "))
b = float(input("enter the number: "))
print(a+b)

enter the number:  2.5
enter the number:  3.5

6.0

In [6]:
print("Welcome to the application")
a = float(input("enter a value"))
b = float(input("enter b value"))
print(a+b)
print("The operation is done sucessfully")
print("Thank you for using our application")

Welcome to the application

enter a value 2.5
enter b value 2.5

5.0
The operation is done sucessfully
Thank you for using our application

In [8]:
def greet():
    print("hello, how are you")

In [12]:
greet()

hello, how are you

In [16]:
def add_numbers(a,b):
    sum_result = a+b
    print(f"The sum of {a} and {b} is {sum_result}.")

In [18]:
add_numbers(2,3)

The sum of 2 and 3 is 5.

In [24]:
def multiply(a,b):
    product = a*b
    return product
result = multiply(4,6)
print(result)

24

In [26]:
def add(a,b):
    print(a+b)
add(20,10)

30

In [28]:
def wish():
    print("welcome to siva academy")

In [30]:
wish()

welcome to siva academy

In [34]:
def sub(a,b):
    print(a-b)

In [36]:
sub(20,10)

10

In [40]:
sub(10,20)

-10

In [42]:
def details(name,city):
    print(f"hello i am {name}. i am from {city}")

In [44]:
details("Rajesh","Bengaluru")

hello i am Rajesh. i am from Bengaluru

In [46]:
details("Bengaluru","Rajesh")

hello i am Bengaluru. i am from Rajesh

## The Types of Argumnets

#### 1. Positional arguments

In [10]:
def mul(a,b):
    print(a*b)
mul(100,200)

20000

In [12]:
mul(200,100)

20000

In [18]:
def greet(name,age):
    print(f"Hi I'm {name}. I'm {age} years old")
greet("anand",22)

Hi I'm anand. I'm 22 years old

In [20]:
greet(22,"anand")       # problem in positional argumnet  it will take any value.

Hi I'm 22. I'm anand years old

#### 2. Keyword arguments

In [23]:
def wish(name,msg):
    print("hello",name,msg)
wish(name="anand",msg="good morning")

hello anand good morning

In [25]:
wish(msg="good morning",name = "anand") # we can use both positional argumnets and keyword arguments simultaneously

hello anand good morning

In [33]:
def repitation(integer,string):
    print(integer*string)
repitation(integer=6,string=" anand")

 anand anand anand anand anand anand

In [35]:
repitation(string=" anand",integer=6)

 anand anand anand anand anand anand

#### 3. Default arguments

In [42]:
def wish(name="anand",age = 22):
    print(f"Hi I'm {name}. I'm {age} years old")
wish()      # we do not mentioned any value but it will take the default argumnets. but u can pass other value also

Hi I'm anand. I'm 22 years old

In [44]:
wish(name = "mueen")

Hi I'm mueen. I'm 22 years old

In [46]:
wish(age=23)

Hi I'm anand. I'm 23 years old

In [48]:
wish(name = "mueen", age = 24)

Hi I'm mueen. I'm 24 years old

#### 4. Variable length arguments

In [236]:
def f1(*n):
    b = n+n
    print(b)
    print(type(b))
f1([1])

([1], [1])
<class 'tuple'>

In [238]:
f1(1,2,3)

(1, 2, 3, 1, 2, 3)
<class 'tuple'>

In [232]:
f1(1,2,3,4)

(1, 2, 3, 4, 1, 2, 3, 4)

In [85]:
def sum(*n):           # u can pass number of values
    total = 0
    for i in n:
        total = total+i
        print(f"The sum = {total}")

In [87]:
sum(10)

The sum = 10

In [89]:
sum(10,10)

The sum = 10
The sum = 20

In [91]:
sum(10,20,30)

The sum = 10
The sum = 30
The sum = 60

In [93]:
sum(10,20,30,40)

The sum = 10
The sum = 30
The sum = 60
The sum = 100

In [119]:
def dict(**n):
    for key,value in n.items():
        print(f"{key}:{value}")
  
dict(name="anand",age=22, name2 = "mueen",age_2 = 21)

name:anand
age:22
name2:mueen
age_2:21

### map() Function

In [3]:
??map

Init signature: map(self, /, *args, **kwargs)
Docstring:
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
Type:           type
Subclasses:

In [5]:
def is_even_odd(x):
    if x%2 == 0:
        return "Even"
    if x%2 == 1:
        return "odd"

In [11]:
l = 1
is_even_odd(l)

'odd'

In [13]:
l = [1,2,3,4,5,6,7,8]
list(map(is_even_odd,l))

['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even']

In [274]:
def square(x):
    return x*x

In [282]:
num = [1,2,3,4,5,6,7,8,9]
list(map(square,num))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Filter() Function

In [286]:
??filter

Init signature: filter(self, /, *args, **kwargs)
Docstring:
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.
Type:           type
Subclasses:

In [290]:
def is_even(x):
    if x%2 == 0:
        return "Even"

In [294]:
num = [1,2,3,4,5,6,7,8,9]
list(filter(is_even,num))

[2, 4, 6, 8]

In [296]:
def is_odd(x):
    if x%2==1:
        return "odd"

In [298]:
list(filter(is_odd,num))

[1, 3, 5, 7, 9]

### lambda Function

In [301]:
double = lambda x : x*x
print(double(3))

9

In [303]:
total = lambda a,b: a*b
total(2,3)

6

In [305]:
is_even_odd = lambda x: "even" if x%2==0 else "odd" 
is_even_odd(3)

'odd'

In [320]:
is_even_odd = lambda x: "even" if x%2==0 else "odd" 
is_even_odd(12)

'even'

In [ ]:
square = lambda n : [ ]

### Recursion Function

In [6]:
def factorial(n):
     if n==0 or n==1:
         return n
     else :
         return n*factorial(n-1)
print(factorial(8))

40320

In [30]:
def fibonacci(n):
    if n<=1:
        return n
    else :
        return fibonacci(n)+fibonacci(n-2)
for i in range(5):
    print(factorial(i),end=" ")

0 1 2 6 24